/* CSS Document */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  background-color: #ffffff;
}

.container {
  border: 4px solid rgba(74, 101, 255, 0.7);
  display: block;
  flex-direction: column;
  width: 500px;
  height: auto;
  margin: 25px auto;
  border-radius: 15px;
  padding: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logo {
  display: block;
  margin: 25px auto 0px;
  width: 150px;
}

h1 {
  font-size: 40px;
  width: 100%;
  text-align: center;
  color: #4a65ff;
}

.container__formulario {
  margin-bottom: 0px;
}

.container__formulario label {
  display: block;
}
.container__formulario select,
input,
.btn_converter {
  display: block;
  width: 100%;
  height: 50px;
  margin: 20px auto;
  border-radius: 5px;
  border: 2px solid rgba(74, 101, 255, 0.5);
  font-size: 16px;
  padding-left: 10px;
}
.container__formulario__opcoes {
  display: flex;
  justify-content: space-around;
}

.container__opcoes {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn_converter {
  background-color: #4a65ff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  height: 50px;
  text-transform: uppercase;
  border: none;
}
.btn_converter:hover {
  background-color: #3a55ff;
}
.btn_converter:active {
  opacity: 0.8;
}

.container__resultado {
  border: 1px solid rgba(74, 101, 255, 0.5);
  border-radius: 10px;
  width: 40%;
}
.container__resultado img {
  display: block;
  margin: 15px auto;
  width: 50px;
  text-align: center;
}

p {
  font-size: 20px;
  text-align: center;
  color: #4a65ff;
  margin: 0px auto;
}

.currency-value,
.currency-value-to-convert {
  font-weight: 500;
}
