* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.menu {
  margin: 44px 0 144px 76px;
}

.menu .link-header {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: none;
  margin-right: 23px;
  color: #989d9c;
  text-transform: uppercase;
  cursor: pointer;
}

.menu .link-header:hover {
  color: #665ae1;
}

.menu .link-header:active {
  color: #3a2c93;
}

.menu .button-header {
  width: 130;
  height: 41;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  border-radius: 20.5px;
  background-color: #665ae1;
  padding: 6px 21px;
  border: none;
  cursor: pointer;
}

.menu .button-header:hover {
  background-color: #4d3dc2;
}

.menu .button-header:active {
  background-color: #3a2c93;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

main h1 {
  font-weight: 900;
  font-size: 100px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #515151;
  text-transform: uppercase;
}

main h2 {
  font-weight: 500;
  font-size: 58px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #515151;
}

main p {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 32px 0 65px 0;
  color: #848484;
}

main button {
  width: 239;
  height: 64;
  border-radius: 20.5px;
  padding: 15px 46px;
  background-color: #adff00;
  border: none;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  box-shadow: 0px 4px 4px 0px #00000040;
  cursor: pointer;
}

main button:hover {
  background-color: #8cc400;
}

main button:active {
  background-color: #6b9900;
}

main .img-logo {
  width: 568px ;
  height: 500px;
}

main .text {
  display: inline-block;
  width: 515px;
  margin-left: 86px;
}
